#work h1 {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.glow {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(143, 158, 255, 0.3);
  -moz-box-shadow: 0px 0px 12px 2px rgba(143, 158, 255, 0.3);
  box-shadow: 0px 0px 12px 2px rgba(143, 158, 255, 0.3);
}
