.text-wrapper {
  display: flex;
  overflow: hidden;
  border-top: 1px solid #8758ff;
  border-bottom: 1px solid #8758ff;
  background-color: transparent;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  gap: 1rem;
  animation: move-rtl 40s linear infinite;
}

.marquee-content:hover {
  animation: none;
}

.marquee-content h6 {
  font-size: 1rem;
  white-space: nowrap;
  padding: 1rem;
  letter-spacing: 1px;
  color: #60a5fa;
}

@media (max-width: 768px) {
  .marquee-content h6 {
    font-size: 0.8rem;
  }
}

@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
